section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: auto;
}

diplay-items {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
